<script language="javascript" type="text/javascript">
    document.title = "Lista de cheques - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/Cheque/lista.js"]);
</script>

<div id="listaCheques" class="list"></div>