<script language="javascript" type="text/javascript">
    document.title = "Movimentações Financeira - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/MovimentacaoFinanceira/lista.js"]);
</script>

<div id="listaMovimentacoesFinanceira" class="list"></div>