<script language="javascript" type="text/javascript">
    document.title = "Lista de grupos de usuários - " + nomeProjeto;

    Prion.Loader.Carregar([
        rootDir + "Scripts/Views/UsuarioGrupo/permissoes.js",
        rootDir + "Scripts/Views/UsuarioGrupo/lista.js"
    ]);
</script>

<div id="listaUsuarioGrupo" class="list"></div>