<form id="frmFiltroPeriodo" action="" >
    <input type="hidden" name="Filtro.Tipo" value="Periodo" />

    <label class="st-labeltext" for="DataInicial" style="margin-left: 5px; width:73px;">De: </label>
    <input type="date" class="st-forminput" id="Filtro_DataInicial" name="Filtro.DataInicial" maxlength="12" style="position:relative;float:left;width:120px;" mandatory="true"  message="A data não pode ser vazia" />

    <label class="st-labeltext" for="DataFinal" style="margin-left: 10px; width:30px;">Até: </label>
    <input type="date" class="st-forminput" id="Filtro_DataFinal" name="Filtro.DataFinal" maxlength="12" style="position:relative;float:left;width:120px;" mandatory="true"  message="A data não pode ser vazia" />
</form>