<script language="javascript" type="text/javascript">
    Prion.Loader.Carregar([
        rootDir + "Scripts/Views/Relatorios/arquivoRetornoNETEmpresa.js"
    ]);
    
    "page".getDom().style.width = "80%";
    document.title = "Relatório referente ao arquivo NET Empresa";
</script>

    <div id="Filtro" style="">   
            <div class="button-boxP" style="float:left;margin-top: 28px;">
                <input id="Imprimir_Relatorio" type="button" value="Imprimir" class="button-green" style="margin-left: 35px;" />
                <div class="clear"></div>
            </div>
        </div>
    </div>  

    <div id="Dashboard">
        <div style="position:relative;">
            <div id="ControleArquivo" style="position:relative;margin-left: 30px;float: left;"></div>          

            <div id="ControleDocumento" style="position:relative;margin-left: 30px;float: left;"></div>

            <div id="ControleOperacao" style="position:relative;margin-left: 30px;float: left;"></div>
        </div>
        <div class="clear"></div>
        <div id="Grafico" style="position:relative;margin-top:75px;"></div>
    </div>
   
    <div id="Relatorio_Impressao" style="display:none;">
        <div style="position:relative;width: 100%;">
             <div id="CabecalhoRelatotio" style="margin:10px;">
                    @{ Html.RenderPartial("../Shared/RelatorioCabecalho");}    
             </div>
        </div>
        <div class="clear"></div>
        <h4 id="Titulo_Relatorio" style="margin-left:40%;">Arquivo de retorno</h4>
    </div>    
