<script language="javascript" type="text/javascript">
    document.title = "Lista de turnos - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/Turno/lista.js"]);
</script>

<div id="listaTurnos" class="list"></div>