<?xml version="1.0" encoding="utf-8" ?>

<appSettings>
  <add key="webpages:Version" value="1.0.0.0"/>
  <add key="ClientValidationEnabled" value="true"/>
  <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  <add key="provider" value="System.Data.SqlClient"/>
  <add key="IdCorporacao" value="1"/>
  <!--Desenvolvimento local-->
  <add key="EnderecoDocumentos" value="D:/Desenvolvimento/NotaAzul/documentos/"/>
  <add key="UrlDocumentos" value="http://localhost:4995/documentos/"/>
  <add key="EnderecoPhantomJs" value ="D:/Desenvolvimento/NotaAzul/documentos/phantomjs"/>
  <add key="DiscoPhantom" value ="D:"/>

  <!--Desnvolvimento smarterasp-->
  <!--<add key="EnderecoDocumentos" value="http://prionempresa-001-site1.smarterasp.net/notaazul/documentos/"/>-->
  <!--<add key="UrlDocumentos" value="http://prionempresa-001-site1.smarterasp.net/notaazul/documentos/"/>-->
  <!--<add key="EnderecoPhantomJs" value ="http://prionempresa-001-site1.smarterasp.net/notaazul/phantomjs/"/>-->

  <add key="LocalSistema" value="desenvolvimento"/>
  <!-- data e hora de compilação e instalação no cliente -->
  <add key="CultureDefault" value="pt-BR"/>

  <!-- Desenvolvimento: Server KingHost -->
  <!--<add key="connectionString" value="wBnJlU9N1bciiftWacS85XHVXK/i8nUAkHS2ffER/VpZOH5kFNov3RlgzIUsGkeaZ8gEhn48vJ7407nA0I0JBh3Jv0J1xtMaABfZLhgJ9uNncKRtVg0uRPP16c27zvWS8Ph+YcKHhN6gpqyKYKIfCYOIdqecaXx9MmCffS5wQNIbcj1RzcwjYqWvygUEAlmUF9+dY303ihSqX7GL/AcQ1g=="/>-->

  <!-- Desenvolvimento: Server Ponto de Partida -->
  <add key="connectionString" value="wBnJlU9N1bciiftWacS85fobLOD9TPO+STZHKSh83phwp3sNJvf4NcNKaAD07e2h0NeYHVNY5syojlQERt0r/IfnCCC59t1PWJYezu+qoxUqPktJkYETjdQxDTHoHRY1SVDE6QDZSyW1hZVjvMRO5qsy9zgeekcI"/>

  <!-- Desenvolvimento :smarterasp -->
  <!--<add key="connectionString" value="wBnJlU9N1bfGksUQ6qI/vZ3KiiXBdaDB9PJLQCL+xf3hG3fL71NMWCS+7qtIhdsx97kMbmuT2zX85swwfk5EMR258ED82iVKE4ueb+Z94vNtfNj50wZMsSnB4L0cAQVsgp3MCYuhZOu3/+D/gEDL1ABH7iAtZB5kZPjlrtRy3ltM503Gw4QzfEdLPddMPyNFZxdc2caSmq8="/>-->
</appSettings>
