<script language="javascript" type="text/javascript">
    document.title = "Lista de cidades - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/Cidade/lista.js"]);
</script>

<div id="listaCidades" class="list"></div>