<script language="javascript" type="text/javascript">
    document.title = "Títulos - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/Titulo/lista.js"]);
</script>

<div id="listaTitulos" class="list"></div>