<script language="javascript" type="text/javascript">
    document.title = "Lista de disciplinas - " + nomeProjeto;
    
    Prion.Loader.Carregar([rootDir + "Scripts/Views/Disciplina/lista.js"]);
</script>

<div id="listaDisciplinas" class="list"></div>