<form id="frmFiltroTurma" action="" >
    <input type="hidden" name="Filtro.Tipo" value="Turma" />

    <label class="st-labeltext" for="ListaTurma" style="margin-left: 5px; width:70px;">Turma: </label>
    <select id="ListaTurma" name="Filtro.Turma" class="uniform"></select>
</form>