@model NotaAzul.ViewModels.Material.vmDados
           
@{
    ViewBag.Title = "Material :: " + @ViewBag.NomeProjeto;
}

<script language="javascript" type="text/javascript">
    Prion.Loader.Carregar([
        rootDir + "Scripts/Views/Material/dados.js"
    ]);
</script>


<div class="body">

    <form id="frmMaterial" name="frmMaterial" action="" method="post">
        <input type="hidden" id="Material_Id" name="Material.Id" primary-key="true" />

        <div class="st-form-line">
            <label class="st-labeltext" for="Material_Nome">Nome</label>
            <input type="text" class="st-forminput" id="Material_Nome" name="Material.Nome" maxlength="255" style="width:510px;" mandatory="true" message="O nome não pode ser vazio" />
            <div class="clear"></div>
        </div>

        <div class="st-form-line">
            <label class="st-labeltext">Situação</label>

            @foreach (var y in Model.Situacoes)
            {
                <label class="radio" style="margin-right:10px">
                    @Html.RadioButtonFor(x => x.Material.IdSituacao, y.Id, y.Padrao, y.Nome, new { @class = "uniform", @style = "opacity:0;" })
                </label>
            }
            <div class="clear"></div>
        </div>
    </form>
</div>