@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string imgPathNotaAzul = @Url.Content("~/Content/notaAzul");
}


<div class="logoCliente">
    <img src="@imgPathNotaAzul/logoCliente.png" style="" alt="" title="" width="600" height="401" />
</div>