/**************************************************************************************************
 * ---- LEIAME ----
 * por Thiago Motta Zappaterra 
 * data: 05/06/2013
 * COLOCAR AQUI APENAS CSS QUE FOR PARTICULAR DO PROJETO NOTAAZUL
 **************************************************************************************************/
#FichaDeMatricula {padding-left:10px;}

#conteudoFicha label { position: relative; font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
#conteudoFicha .Campo {display:inline-block;border-bottom: 1px solid;position: relative;padding-left:12px;}
#conteudoFicha .Linha {clear:both;padding-bottom:3px;}


#tableFichaDeMatricula .Campo {border-bottom:none;padding-left:0px;}
#tableFichaDeMatricula { border: 1px solid black !important; width: 96%; margin: 0px auto; padding: 6px; border-collapse: collapse; }
#tableFichaDeMatricula th { border: 1px solid black; padding: 6px; vertical-align: top; }
#tableFichaDeMatricula td { border: 1px solid black; text-align: center; height:18px; }

@media screen 
{
    #RelatorioCabecalho { display:none; }
}

@media print
{
    .QuebraDeImpressao { page-break-before: always; }
    .carneMensalidadeFolhas { height: 225px;position:relative;page-break-inside:avoid; border-bottom: 1px dashed black; }
    .carneMensalidadeFolhas .Linha {clear:both;padding-bottom:3px; }
   
   #CorpoRelatorioContent {margin-left: -5px;}
   #CorpoRelatorioContent table tr,td,th{border:solid 1px;}
   #CorpoRelatorioContent {overflow:visible;}
   #CorpoRelatorioBody{overflow:visible !important;}
}