<script language="javascript" type="text/javascript">
    document.title = "Lista de turmas - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/Turma/lista.js"]);
</script>

<div id="listaTurmas" class="list"></div>