@model NotaAzul.ViewModels.Turno.vmDados

@{
    ViewBag.Title = "Turno :: " + @ViewBag.NomeProjeto;
}

<script language="javascript" type="text/javascript">
    Prion.Loader.Carregar([
        rootDir + "Scripts/Views/Turno/dados.js"
    ]);
</script>


<div class="body">

    <form id="frmTurno" name="frmTurno" action="" method="post">
        <input type="hidden" id="Turno_Id" name="Turno.Id" primary-key="true" />
           
        <div class="st-form-line">
            <label class="st-labeltext" for="Turno_Nome" style="width:100px">Nome</label>
            <input type="text" class="st-forminput" id="Turno_Nome" name="Turno.Nome" maxlength="50" style="width:284px;" mandatory="true" message="O nome não pode ser vazio" />
            <div class="clear"></div>
        </div>

        <div class="st-form-line">
            <label class="st-labeltext" style="width:100px">Situação</label>
                    
            @foreach(var y in Model.Situacoes)
            {
                <label class="radio" style="margin-right:10px">
                    @Html.RadioButtonFor(x => x.Turno.IdSituacao , y.Id, y.Padrao, y.Nome, new {@class = "uniform", @style = "opacity:0;" })
                </label>
            }
            <div class="clear"></div> 
        </div>
    </form>
</div>