<script language="javascript" type="text/javascript">
    Prion.Loader.Carregar([rootDir + "Scripts/Views/DisciplinaTurma/dados.js"]);
</script>

<div class="body">
    <form id="frmDisciplinaTurma" name="frmDisciplinaTurma" action="" method="post">
        <input type="hidden" id="Turma_Id" name="Turma.Id" primary-key="true" />

        <div class="st-form-line">
            <p class="st-labeltext" for="Turma_Nome" style="margin-right: 20px;width:80px;">Curso : </p>                                       
            <p class="st-labeltext" id="Turma_Nome" name="Turma.Nome"  maxlength="50" style="width:190px;"></p>
            <div class="clear"></div>
        </div>          
       
        <div class="st-form-line"> 
            <h4 style="margin-right: 20px;width:80px;">Disciplinas</h4>
            <input type="checkbox" id="selecionarTodos" name="selecionarTodos" />  
            <label for="selecionarTodos">Selecionar todos</label>                                  
            <div id="checkBoxGrp"></div>
        </div>
    </form>
</div>