<script language="javascript" type="text/javascript">
    document.title = "Contas à pagar - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/ContasPagar/lista.js"]);
</script>

<div id="listaContasPagar" class="list"></div>