<script language="javascript" type="text/javascript">
    document.title = "Tipos de Título - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/TituloTipo/lista.js"]);
</script>

<div id="listaTiposTitulo" class="list"></div>