@model NotaAzul.ViewModels.ChequeEstado.vmDados

@{
    ViewBag.Title = "Estados de um Cheque :: " + @ViewBag.NomeProjeto;
}

<script language="javascript" type="text/javascript">
    Prion.Loader.Carregar([
        rootDir + "Scripts/Views/ChequeEstado/dados.js"
    ]);
</script>

<div class="body">
    <form id="frmChequeEstado" name="frmChequeEstado" action="" method="post">
        <input type="hidden" id="ChequeEstado_Id" name="ChequeEstado.Id" primary-key="true" />

        <div class="st-form-line">
            <label class="st-labeltext" for="ChequeEstado_Nome" style="width: 30px;margin-right: 70px;">Nome</label>
            <input type="text" class="st-forminput" id="ChequeEstado_Nome" name="ChequeEstado.Nome" maxlength="50" style="width:310px;float:left;" mandatory="true" message="O nome não pode ser vazio" />
            <div class="clear"></div>
        </div>

        <div class="st-form-line">
            <label class="st-labeltext" for="ChequeEstado_Descricao" style="width: 30px;margin-right: 70px;">Descrição</label>
            <input type="text" class="st-forminput" id="ChequeEstado_Descricao" name="ChequeEstado.Descricao" maxlength="255" style="width:310px;float:left;" />
            <div class="clear"></div>
        </div>
        
        <div class="st-form-line">
            <label class="st-labeltext" for="ChequeEstado_Situacao" style="width:122px;">Situação</label>
               @foreach (var y in Model.Situacoes)
                    {
                        <label class="radio" style="margin-right:10px">
                            @Html.RadioButtonFor(x => x.ChequeEstado.IdSituacao, y.Id, y.Padrao, y.Nome, new { @class = "uniform", @style = "opacity:0;" })
                        </label>
                    }
            <div class="clear"></div>
        </div>

    </form>
</div>