@model NotaAzul.ViewModels.Aluno.vmDados
           
<script language="javascript" type="text/javascript">
    Prion.Loader.Carregar([
        rootDir + "Scripts/Views/Aluno/fichaFinanceiraLista.js"
    ]);
</script>

<div id="fichaFinanceira" ></div>