<script language="javascript" type="text/javascript">
    document.title = "Lista de funcionários - " + nomeProjeto;

    Prion.Loader.Carregar([rootDir + "Scripts/Views/Funcionario/lista.js"]);
</script>

<div id="listaFuncionarios" class="list"></div>